{{ 'component-breadcrumb.css' | asset_url | stylesheet_tag }}
<nav class="breadcrumb page-width" role="navigation" aria-label="breadcrumbs">
  <ol class="breadcrumb__list list-unstyled" role="list">
    <li class="breadcrumb__item">
      <a href="{{ routes.root_url }}" class="link">Inicio</a>
    </li>
    {% if product %}
      {% assign breadcrumb_collection = product.collections | first %}
      {% if breadcrumb_collection %}
        <li class="breadcrumb__item">
          <a href="{{ breadcrumb_collection.url }}" class="link">
            {{ breadcrumb_collection.title }}
          </a>
        </li>
      {% endif %}
      <li class="breadcrumb__item">
        <span aria-current="page">{{ product.title }}</span>
      </li>
    {% elsif collection %}
      <li class="breadcrumb__item">
        <span aria-current="page">{{ collection.title }}</span>
      </li>
    {% endif %}
  </ol>
</nav>
